<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INGetCarPowerLevelStatusIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>What&apos;s my car&apos;s charge state?</string>
				<string>What&apos;s the remaining range of my car?</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INListCarsIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>List my cars</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
