<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>experimental_preference</key>
	<false/>
	<key>api_preference</key>
	<integer>2</integer>
	<key>units_preference</key>
	<integer>1</integer>
	<key>kamereon_preference</key>
	<string>Ae9FDWugRxZQAGm3Sxgk7uJn6Q4CGEA2</string>
</dict>
</plist>
